<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>登录</title>
<link type="text/css" rel="stylesheet" href="__CSS__/admin_login_reset.css">
<link type="text/css" rel="stylesheet" href="__CSS__/admin_login.css">
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="js/ie6Fixpng.js"></script>
<![endif]-->
</head>

<body>
<div class="headerBar">
	<div class="logoBar login_logo">
		<div class="comWidth">
			<div class="logo fl">
				<a href="#"><img src="images/logo.jpg" alt="thinkWeb"></a>
			</div>
			<h3 class="welcome_title">thinkWeb后台管理</h3>
		</div>
	</div>
</div>

<div class="loginBox">
	<div class="login_cont">
		<ul class="login">
			<!-- <form name="input" action="" method="post"> -->
			<li class="l_tit">邮箱/用户名/手机号</li>
			<li class="mb_10"><input type="text" name="user" class="login_input user_icon"></li>
			<li class="l_tit">密码</li>
			<li class="mb_10"><input type="password" name="pwd" class="login_input user_icon"></li>
			<li class="autoLogin"><input type="checkbox" id="a1" class="checked"><label for="a1">自动登陆</label></li>
			<li><a href="../main.html"><input type="button" value="" class="login_btn"></a></li>
		</ul>

		<div class="login_partners">
			<p class="l_tit">使用合作方账号登陆网站</p>
			<ul class="login_list clearfix">
				<li><a href="#">QQ</a></li>
				<li><span>|</span></li>
				<li><a href="#">网易</a></li>
				<li><span>|</span></li>
				<li><a href="#">新浪微博</a></li>
				<li><span>|</span></li>
				<li><a href="#">腾讯微薄</a></li>
				<li><span>|</span></li>
				<li><a href="#">新浪微博</a></li>
				<li><span>|</span></li>
				<li><a href="#">腾讯微薄</a></li>
			</ul>
		</div>
	</div>
	<a class="reg_link" href="#"></a>
</div>

<div class="hr_25"></div>
<div class="footer">
	<p>Copyright &copy; 2006 - 2014 版权所有&nbsp;&nbsp;&nbsp;京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>
	<p class="web">
		<a href="#"><img src="__CSS__/../image/admin_image/webLogo.jpg" alt="logo"></a>
		<a href="#"><img src="__CSS__/../image/admin_image/webLogo.jpg" alt="logo"></a>
		<a href="#"><img src="__CSS__/../image/admin_image/webLogo.jpg" alt="logo"></a>
		<a href="#"><img src="__CSS__/../image/admin_image/webLogo.jpg" alt="logo"></a>
	</p>
</div>
</body>
</html>
