.menu-bar {
font-size: 12px;
font-weight: bolder;
padding:0;
margin:0;
width:100%;
height:auto;
border-top:1px solid #2c2c2c;
}
.menu-bar li{
border-box:box-sizing;
list-style-image: none;
list-style-type: none;
display: inline-block;
width:24%;
}
.menu-bar li a{
color: #FFFFFF;
text-decoration: none;
margin: 0px;
padding-top:5px;
display: block; /* 作为一个块 */
padding-bottom: 8px;
text-align:center;
}
.menu-bar a img {
width:30px;
}
.menu-bar a.last {
border-right:0; /* 去掉左侧边框 */
}
.menu-bar li a:hover{
background-color: #0099CC;
}
.menu-item-active a{
	opacity:0.5;
}
