<!DOCTYPE html>
<html>
<head>
	<title>商品详情</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css">
</head>
<style type="text/css">
		html,body,ul,li,a,p{
			padding: 0;
			margin: 0;
			text-decoration: none;
			list-style: none;
			font: 16px/1.5 "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
			color: black;
		}
		html,body{
			height: 100%;
			background-color: black;
		}
		body{
			margin: 0 auto;
			max-width: 400px;
			position: relative;
		}
		body hr{
			margin: 2px;
		}
</style>
<body>
	
</body>
</html>