<div style="position:absolute;width:100%;height:auto;top:0px;padding:0px;margin:0px;" >
<ul class="menu-bar" id="store_menu">
	<!-- 菜单项 商品管理 -->
	<li class="menu-item" id="store_menu_item1">
			<a href="{:url('seller/index/goods')}">
				<img src="__STATIC__/image/goods_white_48.png" /><br/>
				<span class="menu-item-name">{$Think.lang.GOODS_MANAGE}</span>
			</a>
	</li>
	<!-- 菜单项 分类管理 -->
	<li class="menu-item" id="store_menu_item2">
			<a href="{:url('seller/index/terms')}">
				<img src="__STATIC__/image/terms_white_48.png" /><br/>
				<span class="menu-item-name">{$Think.lang.TERMS_MANAGE}</span>
			</a>
	</li>
</ul>
</div>